*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    position: relative;
    height: 400px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#container i{
    color: #fff;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform ease 0.5s;
    opacity: 0;
}